export(abcpred_nmer)
export(algpred)
export(allermatch)
export(bcepred_nmer)
export(bimas_nmer)
export(filter.firstlayer)
export(iedb_arb_mhci_nmer)
export(iedb_arb_mhcii_nmer)
export(iedb_consensus_mhci_nmer)
export(iedb_consensus_mhcii_nmer)
export(netmhcNN_nmer)
export(netmhcWT_nmer)
export(propred_nmer)